{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        {# todo: erreur si mdp pas renseigné et message de succès s'affiche #}
        {# todo: toujours même si on a juste validé avec les mêmes infos qu'avant #}



        {{ form_start(profilUpdateForm) }}
            <div class="profil">
                {{ form_label(profilUpdateForm.pseudo, 'Pseudo: ') }}
                {{ form_widget(profilUpdateForm.pseudo) }}
                {{ form_errors(profilUpdateForm.pseudo) }}
            </div>

            <div class="profil">
                {{ form_label(profilUpdateForm.nom, 'Nom: ') }}
                {{ form_widget(profilUpdateForm.nom) }}
                {{ form_errors(profilUpdateForm.nom) }}
            </div>

            <div class="profil">
                {{ form_label(profilUpdateForm.prenom, 'Prénom: ') }}
                {{ form_widget(profilUpdateForm.prenom) }}
                {{ form_errors(profilUpdateForm.prenom) }}
            </div>

            <div class="profil">
                {{ form_label(profilUpdateForm.telephone, 'Téléphone: ') }}
                {{ form_widget(profilUpdateForm.telephone) }}
                {{ form_errors(profilUpdateForm.telephone) }}
            </div>

            <div class="profil">
                {{ form_label(profilUpdateForm.email, 'Email: ') }}
                {{ form_widget(profilUpdateForm.email) }}
                {{ form_errors(profilUpdateForm.email) }}
            </div>

            <div class="profil">
                {{ form_label(profilUpdateForm.campus, 'Campus: ') }}
                {{ form_widget(profilUpdateForm.campus) }}
                {{ form_errors(profilUpdateForm.campus) }}
            </div>

            <div class="profil">
                {{ form_label(profilUpdateForm.password, 'Mot de passe: ') }}
                {{ form_widget(profilUpdateForm.password) }}
                {{ form_errors(profilUpdateForm.password) }}
            </div>

        {# todo: upload de la photo #}



        {# todo: voir s'il est nécessaire d'avoir le mot de passe pour valider le changement #}
        <button class="btn" type="submit">Valider</button>


        {{ form_end(profilUpdateForm) }}
    {% endif %}
{% endblock %}

{% block title %}
    {% if app.user %}
        Mon profil
    {% else %}
        {{ participant.pseudo }}
    {% endif %}
{% endblock %}

