{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}

        {{ form_start(profilUpdateForm) }}
{#        <div id="container">#}

            {% if app.user.champ != null %}
            <img src="{{ asset('photosProfil/'~ app.user.champ) }}" alt="image profil">
            {% endif %}

            <div class="profil">
                {# {{ form_label(profilUpdateForm.pseudo, 'Pseudo: ') }} #}
                {{ form_label(profilUpdateForm.pseudo) }}
                {{ form_widget(profilUpdateForm.pseudo) }}
                {{ form_errors(profilUpdateForm.pseudo) }}
{#            </div>#}

{#            <div class="profil">#}
             {#    {{ form_label(profilUpdateForm.nom, 'Nom: ') }} #}
                {{ form_label(profilUpdateForm.nom) }}
                {{ form_widget(profilUpdateForm.nom) }}
                {{ form_errors(profilUpdateForm.nom) }}
{#            </div>#}

{#            <div class="profil">#}
            {#     {{ form_label(profilUpdateForm.prenom, 'Prénom: ') }} #}
                {{ form_label(profilUpdateForm.prenom) }}
                {{ form_widget(profilUpdateForm.prenom) }}
                {{ form_errors(profilUpdateForm.prenom) }}
{#            </div>#}

{#            <div class="profil">#}
            {#     {{ form_label(profilUpdateForm.telephone, 'Téléphone: ') }} #}
                {{ form_label(profilUpdateForm.telephone) }}
                {{ form_widget(profilUpdateForm.telephone) }}
                {{ form_errors(profilUpdateForm.telephone) }}
{#            </div>#}

{#            <div class="profil">#}
            {#     {{ form_label(profilUpdateForm.email, 'Email: ') }} #}
                {{ form_label(profilUpdateForm.email) }}
                {{ form_widget(profilUpdateForm.email) }}
                {{ form_errors(profilUpdateForm.email) }}
{#            </div>#}

{#            <div class="profil"#}
            {#     {{ form_label(profilUpdateForm.campus, 'Campus: ') }} #}
                {{ form_label(profilUpdateForm.campus) }}
                {{ form_widget(profilUpdateForm.campus) }}
                {{ form_errors(profilUpdateForm.campus) }}
{#            </div>#}

{#            <div class="profil">#}
                {{ form_label(profilUpdateForm.password, 'Mot de passe') }}
{#                {{ form_label(profilUpdateForm.password) }}#}
                {{ form_widget(profilUpdateForm.password) }}
                {{ form_errors(profilUpdateForm.password) }}
{#            </div>#}

{#            <div class="profil">#}
                {# {{ form_label(profilUpdateForm.champ, 'Uploader votre photo de profil: ') }} #}
                {{ form_label(profilUpdateForm.champ) }}
                {{ form_widget(profilUpdateForm.champ) }}
                {{ form_errors(profilUpdateForm.champ) }}
            </div>

{#        </div>#}

        <script>
            const clicChamp = document.querySelector("input");
            const clicSelect = document.querySelector("select");
            var boutonCreer = false;

            clicChamp.addEventListener('change', updateValue);
            clicSelect.addEventListener('change', updateValue);

            function updateValue(e) {
                if (boutonCreer==false) {
                    var button = document.createElement("button");
                    var buttonValue = document.createTextNode("Valider");
                    button.setAttribute("class", "btn");
                    button.setAttribute("type", "submit");
                    button.appendChild(buttonValue);
                    document.getElementById("container").insertAdjacentElement("afterend", button);
                    boutonCreer = true;
                }
            }
        </script>

        {{ form_end(profilUpdateForm) }}
    {% endif %}
{% endblock %}

{% block title %}
        Mon profil | {{ app.user.pseudo }}
{% endblock %}

