{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
    <h2> {{ app.user.pseudo }}, vous pouvez modifier votre profil ici:</h2>
<br>
        {{ form_start(profilUpdateForm) }}
        <div id="container">

            <div class="profil_photo">
                {% if app.user.champ != null %}
                <img src="{{ asset('photosProfil/'~ app.user.champ) }}" alt="image profil">
                {% endif %}
            </div>

            <div class="profil">
                <div class="profil_form">
                    {{ form_label(profilUpdateForm.pseudo) }}
                    {{ form_widget(profilUpdateForm.pseudo) }}
                    {{ form_errors(profilUpdateForm.pseudo) }}
                </div>

                <div class="profil_form">
                    {{ form_label(profilUpdateForm.nom) }}
                    {{ form_widget(profilUpdateForm.nom) }}
                    {{ form_errors(profilUpdateForm.nom) }}
                </div>

                <div class="profil_form">
                    {{ form_label(profilUpdateForm.prenom) }}
                    {{ form_widget(profilUpdateForm.prenom) }}
                    {{ form_errors(profilUpdateForm.prenom) }}
                </div>

                <div class="profil_form">
                    {{ form_label(profilUpdateForm.telephone) }}
                    {{ form_widget(profilUpdateForm.telephone) }}
                    {{ form_errors(profilUpdateForm.telephone) }}
                </div>

                <div class="profil_form">
                    {{ form_label(profilUpdateForm.email) }}
                    {{ form_widget(profilUpdateForm.email) }}
                    {{ form_errors(profilUpdateForm.email) }}
                </div>

                <div class="profil_form">
                    {{ form_label(profilUpdateForm.campus) }}
                    {{ form_widget(profilUpdateForm.campus) }}
                    {{ form_errors(profilUpdateForm.campus) }}
                </div>

                <div class="profil_form">
                    {{ form_label(profilUpdateForm.password, 'Mot de passe ') }}
                    {{ form_widget(profilUpdateForm.password) }}
                    {{ form_errors(profilUpdateForm.password) }}
                </div>

                <div class="profil_form">
                    {{ form_label(profilUpdateForm.champ, 'Photo') }}
                    {{ form_widget(profilUpdateForm.champ) }}
                    {{ form_errors(profilUpdateForm.champ) }}

                </div>
                <button type="submit" class="btn-block add-btn btn">Valider</button>
        </div>



        {{ form_end(profilUpdateForm) }}

    {% endif %}
{% endblock %}

{% block title %}
        Mon profil | {{ app.user.pseudo }}
{% endblock %}