{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}

        {{ form_start(villeUpdateForm) }}
        <div id="container">

            <div class="ville">
                {{ form_label(villeUpdateForm.nom, 'Nom: ') }}
                {{ form_widget(villeUpdateForm.nom) }}
                {{ form_errors(villeUpdateForm.nom) }}
            </div>

            <div class="ville">
                {{ form_label(villeUpdateForm.codePostal, 'Code Postal: ') }}
                {{ form_widget(villeUpdateForm.codePostal) }}
                {{ form_errors(villeUpdateForm.codePostal) }}
            </div>


        <script>
            const clicChamp = document.querySelector("input");
            const clicSelect = document.querySelector("select");
            var boutonCreer = false;

            clicChamp.addEventListener('change', updateValue);
            clicSelect.addEventListener('change', updateValue);
            clicButton.addEventListener('click', updateValue);

            function updateValue(e) {
                if (boutonCreer==false) {
                    var button = document.createElement("button");
                    var buttonValue = document.createTextNode("Valider");
                    button.setAttribute("class", "btn");
                    button.setAttribute("type", "submit");
                    button.appendChild(buttonValue);
                    document.getElementById("container").insertAdjacentElement("afterend", button);
                    boutonCreer = true;
                }
            }
        </script>

        {{ form_end(villeUpdateForm) }}
    {% endif %}
{% endblock %}

{% block title %}
        Villes | {{ app.user.pseudo }}
{% endblock %}

