{% extends 'base.html.twig' %}

{% block body %}
    {# todo mettre le bouton search à côté de la boîte de recherche #}
    {# todo changer le nom du bouton search pour qu'il affiche recherche #}
    {# todo revoir la largeur d'affichage des formulaires: est-ce que ça vient de bootstrap ou non? #}
    <div id="blocRecherche">
        {{ form_start(searchForm) }}
        {{ form_widget(searchForm) }}
        {{ form_end(searchForm) }}
    </div>

    <table id="tableau-campus">
            <thead>
                <tr>
                    <td>Campus</td>
                    <td>Actions</td>
                </tr>
            </thead>
        {% for campus in listeCampus %}
            <tbody>
                <tr>
                    <td>{{ campus.nom }}</td>
                    <td>
{#                        <a href="{{ path('admin_campus_edit', {'id': campus.id}) }}"><button>Modifier</button></a>#}
{#                        <a href="{{ path('admin_campus_delete', {'id': campus.id}) }}"><button>Supprimer</button></a>#}
                        <a href="{{ path('admin_campus_edit', {'id': campus.id}) }}">Modifier</a>
                        | <a href="{{ path('admin_campus_delete', {'id': campus.id}) }}">Supprimer</a>
                    </td>
                    </td>
                </tr>
        </tbody>
        {% endfor %}

    </table>
    <br>

    <div id="container">
        {{ form_start(campusForm) }}
        {{ form_widget(campusForm) }}
        <button type="submit" class="btn-block add-btn btn">Ajouter</button>
        {{ form_end(campusForm) }}
    </div>
    <br>

{% endblock %}

{% block title %}
    Gestion des campus
{% endblock %}
