{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    {{ form_end(searchForm) }}

    {% for ville in donneesVille %}

    {{ ville.nom }} - {{ ville.codePostal }}

    {% endfor %}

    <div>
        {% for ville in listeVilles %}
            <ul>
                <li>
                    {{ ville.nom }}
                    {{ ville.codePostal }}
                    <a href="{{ path('admin_villes_edit', {'id': ville.id}) }}">Modifier</a>
                    <a href="{{ path('admin_villes_delete', {'id': ville.id}) }}">Supprimer</a>
                 </li>
            </ul>
        {% endfor %}
    </div>

    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}

    <button type="submit">Ajouter</button>
    {{ form_end(villeForm) }}

{% endblock %}

{% block title %}
    Gestion des villes
{% endblock %}

