{% extends 'base.html.twig' %}

{% block body %}

    <div>
        {% for ville in listeVilles %}
            <ul>
                <li>{{ ville.nom }} - {{ ville.codePostal }}</li>
            </ul>
        {% endfor %}
    </div>

    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}
    <button>Ajouter</button>
    {{ form_end(villeForm) }}
{% endblock %}

{% block title %}
    Gestion des villes
{% endblock %}

