{% extends 'base.html.twig' %}

{% block body %}
<div id="blocRecherche">
    {{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    {{ form_end(searchForm) }}
</div>
    <div>
        {% for campus in listeCampus %}
            <ul>
                <li>
                    {{ campus.nom }}
                    <a href="{{ path('admin_campus_edit', {'id': campus.id}) }}">Modifier</a>
                    <a href="{{ path('admin_campus_delete', {'id': campus.id}) }}">Supprimer</a>
                </li>
            </ul>
        {% endfor %}
    </div>
    <div id="container">
        {{ form_start(campusForm) }}
        {{ form_widget(campusForm) }}
        <button type="submit">Ajouter</button>
        {{ form_end(campusForm) }}
    </div>
    <br>

    <script>
        const clickInput=document.querySelector("input");
        var bouton=false;
        clickInput.addEventListener("change", updateValue);

        function updateValue(e){

            if (bouton == false){

                var recherche = document.createElement("p");
                var rechercheValue = document.createTextNode("{% for campus in donneesCampus %}{{ campus.nom }}" + " " + "{%  endfor %}");

                recherche.setAttribute("class", "pRecherche");
                recherche.appendChild(rechercheValue);
                document.getElementById("blocRecherche").insertAdjacentElement("afterend", recherche);
                bouton = true;
                e.preventDefault();
            }
        }
    </script>



{% endblock %}

{% block title %}
    Gestion des campus
{% endblock %}
