{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% for campus in listeCampus %}
            <ul>
                <li>
                    {{ campus.nom }}
                    <a href="{{ path('admin_campus_edit', {'id': campus.id}) }}">Modifier</a>
                    <a href="{{ path('admin_campus_delete', {'id': campus.id}) }}">Supprimer</a>
                </li>
            </ul>
        {% endfor %}
    </div>
<div>
    <a href="{{ path('search_campus') }}">Recherche</a>
</div>
    {{ form_start(campusForm) }}
    {{ form_widget(campusForm) }}
    <button type="submit">Ajouter</button>
    {{ form_end(campusForm) }}

{% endblock %}

{% block title %}
    Gestion des Campus
{% endblock %}
