{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    {{ form_end(searchForm) }}


    <div>
        {% for ville in listeVilles %}
{#            <ul>#}
{#                <li>#}
                    <div class="ville">
                        {{ ville.nom }}
                        {{ ville.codePostal }}
                        <a href="{{ path('admin_villes_edit', {'id': ville.id}) }}"><button>Modifier</button></a>
                        <a href="{{ path('admin_villes_delete', {'id': ville.id}) }}"><button>Supprimer</button></a>
                    </div>

{#                 </li>#}
{#            </ul>#}
            <br>
        {% endfor %}
    </div>

    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}
    {{ form_end(villeForm) }}

{% endblock %}

{% block title %}
    Gestion des villes
{% endblock %}

