{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ participant.pseudo }}</h2>

    <ul>
        <li>Prénom: {{ participant.prenom }}</li>

        <li>Nom: {{ participant.nom }}</li>

        <li>Téléphone: {{ participant.telephone }}</li>

        <li>Email: {{ participant.email }}</li>

        <li>Campus: {{ participant.campus.nom }}</li>
    </ul>

    {# todo: affichage de photos #}

{% endblock %}

{% block title %}

    {{ participant.pseudo }} | Profil

{% endblock %}

