{% extends 'base.html.twig' %}

{% block body %}



    <div id="container">

            <div class="profil_photo">
                <img src="{{ asset('photosProfil/' ~ participant.champ) }}" alt="{{ participant.champ }}" />
            </div>

            <div class="profil">
                <h2>{{ participant.pseudo }}</h2>
                {# todo: centrer le pseudo du participant #}
                {# todo: ajouter la taille de la police des li #}
                {# todo si le tableau vous convient, effacer le code ci-dessous #}
{#                <ul>#}
{#                    <li><i>Prénom :</i> {{ participant.prenom }}</li>#}

{#                    <li><i>Nom :</i> {{ participant.nom }}</li>#}

{#                    <li><i>Téléphone :</i> {{ participant.telephone }}</li>#}

{#                    <li><i>Email :</i> {{ participant.email }}</li>#}

{#                    <li><i>Campus :</i> {{ participant.campus.nom }}</li>#}
{#                </ul>#}

                <table id="tableau-profil">
                    <tbody>
                        <tr>
                            <td class="tableau-name">Prénom</td>
                            <td>{{ participant.prenom }}</td>
                        </tr>
                        <tr>
                            <td class="tableau-name">Nom</td>
                            <td>{{ participant.nom }}</td>
                        </tr>
                        <tr>
                            <td class="tableau-name">Téléphone</td>
                            <td>{{ participant.telephone }}</td>
                        </tr>
                        <tr>
                            <td class="tableau-name">Email</td>
                            <td>{{ participant.email }}</td>
                        </tr>
                        <tr>
                            <td class="tableau-name">Campus</td>
                            <td>{{ participant.campus.nom }}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
    </div>

{% endblock %}

{% block title %}

    {{ participant.pseudo }} | Profil

{% endblock %}

