{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ participant.pseudo }}</h2>
    {# todo: centrer le pseudo du participant #}
    {# todo: ajouter la taille de la police des li #}

    <div class="container">

            <div class="profil_photo">
                <img src="{{ asset('photosProfil/' ~ participant.champ) }}" alt="{{ participant.champ }}" />
            </div>

            <div class="profil">
                <ul>
                    <li>Prénom: {{ participant.prenom }}</li>

                    <li>Nom: {{ participant.nom }}</li>

                    <li>Téléphone: {{ participant.telephone }}</li>

                    <li>Email: {{ participant.email }}</li>

                    <li>Campus: {{ participant.campus.nom }}</li>
                </ul>
            </div>
    </div>

{% endblock %}

{% block title %}

    {{ participant.pseudo }} | Profil

{% endblock %}

