{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annuler une sortie</h1>

    <table id="tableau-sortie-annulation">
        <tbody>
        <tr>
            <td class="tableau-name">Nom de la sortie</td>
            <td>{{ sortie.nom }}</td>
        </tr>
        <tr>
            <td class="tableau-name">Date et heure de la sortie</td>
            <td>{{ sortie.dateHeureDebut.format('d/m/Y H:i:s') }}</td>
        </tr>
        <tr>
            <td class="tableau-name">Campus</td>
            <td>{{ sortie.idCampus.nom }}</td>
        </tr>
        <tr>
            <td class="tableau-name">Lieu</td>
            <td>{{ sortie.idLieu.nom }} {{ sortie.idLieu.rue }} {{ sortie.idLieu.idVille.codePostal }} {{ sortie.idLieu.idVille.nom }}</td>
        </tr>

        </tbody>

    </table>

    {{ form_start(annulationSortieForm) }}{{ form_widget(annulationSortieForm) }}

    <button type="submit" class="btn-block add-btn btn">Enregistrer</button>
    <a href="{{ path('sortie_list') }}"><input type="button" value="Annuler" class="btn-block add-btn btn"></a>
    {# todo: le bouton annuler ne s'affiche pas de la même façon que le bouton enregister: lequel est préférable? #}

    {{ form_end(annulationSortieForm) }}


{% endblock %}

{% block title %}
    Annulation d'une sortie {{ parent() }}
{% endblock %}
