{% extends 'base.html.twig' %}

{% block body %}

    <div>
        {{  form_start(sortieForm) }}

        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        {{ form_row(sortieForm.infosSortie) }}
        {{ form_row(sortieForm.idCampus) }}
        <div id="lieu-sortie">
            {{ form_label(sortieForm.idLieu, 'Lieu: ') }}
            {{ form_widget(sortieForm.idLieu) }}
            {{ form_errors(sortieForm.idLieu) }}

                {{ form_start(lieuForm) }}
                {{ form_widget(lieuForm) }}
                {{ form_end(lieuForm) }}
        </div>

        <button>Enregistrer une sortie</button>

        {{  form_end(sortieForm) }}
    </div>
{% endblock %}

{% block title %}
    Création nouvelle sortie {{ parent() }}
{% endblock %}

