{% extends 'base.html.twig' %}

{% block title %}
    {{ sortie.nom }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div id="sortie-details">
        <h1>{{ sortie.nom }}</h1>
        <section id="infos-sortie">
            <h2>Infos</h2>

            <table id="tableau-details-sortie">
                <tbody>
                    <tr>
                        <td class="tableau-name">Date et heure de sortie</td>
                        <td>le {{ sortie.dateHeureDebut.format('d/m/Y') }} à {{ sortie.dateHeureDebut.format('h:m') }}</td>
                    </tr>
                    <tr>
                        <td class="tableau-name">Durée</td>
                        <td>{{ sortie.duree }} minutes</td>
                    </tr>
                    <tr>
                        <td class="tableau-name">Date limite d'inscription</td>
                        <td>{{ sortie.dateLimiteInscription.format('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <td class="tableau-name">Nombre maximum de participants</td>
                        <td>{{ sortie.nbInscriptionsMax }}</td>
                    </tr>
                    <tr>
                        <td class="tableau-name">Informations sortie</td>
                        <td>{{ sortie.infosSortie }}</td>
                    </tr>
                    <tr>
                        <td class="tableau-name">Informations sortie</td>
                        <td>{{ campus.nom }}</td>
                    </tr>
                </tbody>
            </table>

        </section>

        <section id="lieu">
            <h2>Lieu</h2>

                <table id="tableau-details-sortie">
                    <tbody>
                        <tr>
                            <td class="tableau-name">Nom du lieu</td>
                            <td>{{ lieu.nom }}</td>
                        </tr>
                        <tr>
                            <td class="tableau-name">Rue</td>
                            <td>{{ lieu.rue }}</td>
                        </tr>
                        <tr>
                            <td class="tableau-name">Code Postal</td>
                            <td>{{ ville.codePostal }}</td>
                        </tr>
                        <tr>
                            <td class="tableau-name">Ville</td>
                            <td>{{ ville.nom }}</td>
                        </tr>
                        <tr>
                            <td class="tableau-name">Latitude</td>
                            <td>{{ lieu.latitude }}</td>
                        </tr>
                        <tr>
                            <td class="tableau-name">Longitude</td>
                            <td>{{ lieu.longitude }}</td>
                        </tr>
                    </tbody>
                </table>

        {# Auteur de la section "Participants": Damien Vassart #}
        <section id="participants">
            <h2>Participants</h2>
            {% if participants | length > 0 %}
                <table id="tableau-participants">
                    <thead>
                    <tr>
                        <td>Pseudo</td>
                        <td>Nom</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant in participants %}
                        <tr>
                            <td>{{ participant.pseudo }}</td>
                            <td>{{ participant.prenom}} {{ participant.nom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Personne ne s'est encore inscrit à cette sortie</p>
            {% endif %}
        </section>
    </div>
{% endblock %}