{% extends 'base.html.twig' %}

{% block title %}
    {{ sortie.nom }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div id="sortie-details">
        <h2>{{ sortie.nom }}</h2>
        <section id="infos-sortie">
            <h3>Infos</h3>
            <div>Date et heure de sortie: le {{ sortie.dateHeureDebut.format('d/m/Y') }} à {{ sortie.dateHeureDebut.format('h:m') }}</div>
            <div>Durée: {{ sortie.duree }} minutes</div>
            <div>Date limite d'inscription: {{ sortie.dateLimiteInscription.format('d/m/Y') }}</div>
            <div>Nombre maximum de participants: {{ sortie.nbInscriptionsMax }}</div>
            <div>Informations sortie: {{ sortie.infosSortie }}</div>
            <div>Campus: {{ campus.nom }}</div>
        </section>

        <section id="lieu">
            <h3>Lieu</h3>
            <div>Nom du lieu: {{ lieu.nom }}</div>
            <div>Rue: {{ lieu.rue }}</div>
            <div>Code Postal: {{ ville.codePostal }}</div>
            <div>Ville: {{ ville.nom }}</div>
            <div>Latitude: {{ lieu.latitude }}</div>
            <div>Longitude: {{ lieu.longitude }}</div>
        </section>

        <section id="participants">
            <h3>Participants</h3>
            {% if participants | length > 0 %}
                <table id="tableau-participants">
                    <thead>
                    <tr>
                        <td>Pseudo</td>
                        <td>Nom</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant in participants %}
                        <tr>
                            <td>{{ participant.pseudo }}</td>
                            <td>{{ participant.prenom}} {{ participant.nom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Personne ne s'est encore inscrit à cette sortie</p>
            {% endif %}
        </section>
    </div>
{% endblock %}