<nav>
    <ul>
        {% if app.user %}
            <li><a href="#" title="Accueil">Accueil</a></li>
            <li><a href="{{ path('app_profil', {'id': app.user.id}) }}" title="Mon profil">Mon profil</a></li>
            <li><a href="{{ path("app_logout") }}" title="Se déconnecter">Se déconnecter</a></li>

            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin_villes') }}" title="Villes">Villes</a></li>
                <li><a href="{{ path('admin_campus') }}" title="Campus">Campus</a></li>
                <li><a href="{{ path('app_register') }}" title="Inscrire utilisateurs">Inscrire des utilisateurs</a></li>
            {% endif %}


        {% endif %}
    </ul>
</nav>